In [1]:
import pandas as pd

In [5]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [7]:
type(ufo)

pandas.core.frame.DataFrame

In [8]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [10]:
type(ufo['City'])

pandas.core.series.Series

In [22]:
ufo['Shape Reported']

0         TRIANGLE
1            OTHER
2             OVAL
3             DISK
4            LIGHT
5             DISK
6           CIRCLE
7             DISK
8            CIGAR
9         CYLINDER
10           LIGHT
11        FIREBALL
12          SPHERE
13            OVAL
14            DISK
15          CIRCLE
16             NaN
17             NaN
18       RECTANGLE
19           OTHER
20            DISK
21             NaN
22           LIGHT
23       RECTANGLE
24            DISK
25           CIGAR
26            DISK
27            DISK
28            DISK
29            DISK
           ...
18211      DIAMOND
18212         DISK
18213     FIREBALL
18214    FORMATION
18215        OTHER
18216        LIGHT
18217     TRIANGLE
18218      DIAMOND
18219      CHEVRON
18220         DISK
18221         DISK
18222        OTHER
18223          NaN
18224         DISK
18225    FORMATION
18226    FORMATION
18227     TRIANGLE
18228        LIGHT
18229         DISK
18230         OVAL
18231         OVAL
18232          NaN
18233      VARIOUS
18234     TRIANGLE
18235          NaN
18236     TRIANGLE
18237         DISK
18238          NaN
18239        LIGHT
18240         OVAL
Name: Shape Reported, Length: 18241, dtype: object

In [23]:
'ab'+'cd'

'abcd'

In [28]:
ufo['Location']=ufo.City+' '+ufo.State

In [29]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca NY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro NJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,Holyoke CO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,Abilene KS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds Fair NY