In [1]:
import pandas as pd

In [10]:
user_cols=['Id','age','sex','occupation','zip_code']
users=pd.read_table('http://bit.ly/movieusers',header=None,sep='|',names=user_cols)

In [11]:
users.head()

   Id  age sex  occupation zip_code
0   1   24   M  technician    85711
1   2   53   F       other    94043
2   3   23   M      writer    32067
3   4   24   M  technician    43537
4   5   33   F       other    15213

In [12]:
users.shape

(943, 5)

In [17]:
users.zip_code.duplicated().sum()

148

In [20]:
users.duplicated().sum()

0

In [21]:
users.drop_duplicates(keep='first').shape #will keep first duplicates

(943, 5)

In [22]:
users.drop_duplicates(keep='last').shape #will keep last duplicates

(943, 5)

In [23]:
users.drop_duplicates(keep=False).shape #will drop both (first&last) duplicates

(943, 5)

In [24]:
users.duplicated(subset=['age','zip_code']).sum()

16

In [25]:
users.drop_duplicates(subset=['age','zip_code']).shape

(927, 5)