In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'id':[100,200,300],'color':['red','green','blue']})

    id  color
0  100    red
1  200  green
2  300   blue

In [3]:
pd.DataFrame({'id':[100,200,300],'color':['red','green','blue']},columns=['color','id'])

   color   id
0    red  100
1  green  200
2   blue  300

In [36]:
df=pd.DataFrame({'id':[100,200,300],'color':['red','green','blue']},columns=['color','id'],index=['a','b','c'])#using dictionary

In [29]:
pd.DataFrame([['red',100],['green',200],['blue',300]],columns=['color','id'])#using list of list

In [7]:
import numpy as np

In [10]:
arr = np.random.rand(4,2)

In [11]:
arr

array([[0.03715989, 0.21928224],
       [0.03930387, 0.38485528],
       [0.06199519, 0.86550003],
       [0.01882404, 0.76855965]])

In [13]:
pd.DataFrame(arr,columns=['one','two'])

        one       two
0  0.037160  0.219282
1  0.039304  0.384855
2  0.061995  0.865500
3  0.018824  0.768560

In [18]:
pd.DataFrame({'Student#':np.arange(100,1001,100),'Marks':np.random.randint(60,101,10)})

   Student#  Marks
0       100     92
1       200     81
2       300     88
3       400     80
4       500     89
5       600     62
6       700     82
7       800     97
8       900     92
9      1000     85

In [23]:
pd.DataFrame({'Student':np.arange(100,1001,100),'Marks':np.random.randint(60,101,10)}).set_index('Student')

         Marks
Student
100         95
200         79
300         63
400         87
500         92
600         74
700         71
800         83
900         66
1000        84

In [45]:
s=pd.Series(['round','square'],index=['c','b'],name='shape')

In [46]:
s

c     round
b    square
Name: shape, dtype: object

In [47]:
df

   color   id
a    red  100
b  green  200
c   blue  300

In [48]:
pd.concat([df,s],axis=1)

c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   color   id   shape
a    red  100     NaN
b  green  200  square
c   blue  300   round

In [50]:
pd.concat([df,s],axis=0)

   color     id       0
a    red  100.0     NaN
b  green  200.0     NaN
c   blue  300.0     NaN
c    NaN    NaN   round
b    NaN    NaN  square